<ion-view>
  <ion-nav-title>
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search" ng-model="$parent.buscar">
      </label>
      <button class="button button-clear button-light" ng-click="buscar = null">
        Cancel
      </button>
    </div>
  </ion-nav-title>

  <ion-content class="padding">
    <ion-refresher pulling-text="Puxe para atualizar..." on-refresh="pegarParciais()">
    </ion-refresher>
    <p>{{mensagem}}</p>
    <div class="list" ng-repeat="jogador in jogadores | filter:buscar | orderBy:'-pontuacao'">

      <div class="item item-avatar">
        <img src="{{jogador.foto}}">
        <h2>{{jogador.apelido}}</h2>
        <p>{{jogador.pontuacao}}</p>
      </div>

    </ion-content>
  </ion-view>
