<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-striped tabs-background-light tabs-color-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Parciais" href="#/tab/parciais">
    <ion-nav-view name="tab-parciais">
    </ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Mais escalados"  href="#/tab/mais-escalados">
    <ion-nav-view name="tab-maisEscalados"></ion-nav-view>
  </ion-tab>


</ion-tabs>
